<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Looking for a fun way to get active and improve your skating skills? Join our roller skating classes! Designed for all ages and skill levels, our classes offer personalized instruction from experienced instructors in a supportive and social environment. Learn the basics of roller skating, including proper form and balance, as well as more advanced techniques like turns, jumps, and spins.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Group Skating lessons</h4>
                    <p class="text-muted">Join our skating group classes and take your skating to the next level while making new friends along the way!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Skating Bootcamps</h4>
                    <p class="text-muted">Looking for a fun and unique team-building activity for your business or organization? Our skating bootcamps are the perfect way to bring your team together and promote fitness and fun!</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">1:1 Skating lessons</h4>
                    <p class="text-muted">Our 1:1 skating classes are designed to give you the individual attention you need to take your skating to the next level.</p>
                </div>
            </div>
        </div>
    </section>